.DS_Store
.tmp_*
/packages/dependencies/
/build/
.pinf-workspace.json
/bin/.pinf-activate-workspace
/.pio.cache/
/.installed*
/node_modules/
.rt/
/examples/*/.actual.*
/examples/*/.dist/
*~.compiled.*
~.rt_*
.~*
/package-lock.json